<div class="container">
  <div class="cellphone-container">
    <div class="movie">
      <div class="menu"><i class="material-icons"></i></div>
      <div class="movie-img"></div>
      <div class="text-movie-cont">
        <div class="mr-grid">
          <div class="col1">
            <h1> {{movie.title}}</h1>
            <ul class="movie-gen">
              <li>{{movie.genre}} /</li>
              <li>{{movie.studio}}/</li>
              <li>{{movie.duration}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

