body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 10px;
}

.top-movies {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between items as needed */
  padding: 20px 0;
}

.movie-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 200px; /* Adjust the width of the movie poster */
}

.movie-item .poster-image {
  width: 100%;
  height: auto;
}

.movie-item .movie-details {
  padding: 15px;
}

.movie-item .movie-title {
  font-size: 18px;
  margin: 0 0 10px;
}

.movie-item .movie-genre,
.movie-item .movie-duration {
  font-size: 14px;
  margin: 5px 0;
  color: #555;
}
