<div class="tp-container">
   <div class="tp-sidebar">
       <div class="tp-sidebar-header">
           <h2>Cinemax</h2>
       </div>
       <mat-nav-list class="tp-nav-list">
           <mat-list-item (click)="goToMovies()" class="tp-section">
               <mat-icon>movie</mat-icon>
               <span mat-line >Movies</span>
           </mat-list-item>
           <mat-list-item (click)="goToSessions()" class="tp-section">
               <mat-icon>edit</mat-icon>
               <span mat-line>Sessions</span>
           </mat-list-item>
       </mat-nav-list>
   </div>
</div>
